.container {
	position: relative;

	display: flex;
	flex-direction: column;

	background-color: rgba(238, 238, 133, 0.766);
	border-radius: var(--form-border-radius);
}

.day {
	display: flex;
	justify-content: space-between;

	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	margin-left: 1rem;
	margin-right: 1rem;

	font-size: 0.75rem;
	line-height: 1rem;
	font-weight: 700;
}

.event {
	display: flex;
	flex-direction: column;

	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	overflow: auto;
}
